{
  "name": "MYSERVER",
  "gitlab": {
    "url": "https://gitlab.EXAMPLE.TLD",
    "token": "abcdef132465" 
  },
  "ntfy": {
    "url": "https://ntfy.EXAMPLE.TLD",
    "token": "tk_654321fedcba"
  },
  "discord": {
    "webhook": "https://discordapp.com/api/webhooks/987654321/abcdef123456"
  },
  "delay": "7"
}
